@model List<test2.Entities.Department_Tbl>
@{
}
<div class="container">
    <h1>Department_Tbl</h1>
    <a class="text-primary" asp-controller="Department_Tbl" asp-action="Create" type="button" class="btn btn-success">Create a Department_Tbl</a>
    <table class="table table-bordered table-striped">
        <thead>
        <th>ID</th>
        <th>Department_name</th>
        <th>Department_code</th>
        <th>Location</th>
        <th>Number_of</th>
        <th>Personals</th>
        <th>Employee_Tbl</th>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Department_name</td>
                    <td>@item.Department_code</td>
                    <td>@item.Location</td>
                    <td>@item.Number_of</td>
                    <td>@item.Personals</td>
                    <td>@item.Employee_Tbl</td>
                    <td>

                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-primary">Edit</a>

                        <a onclick="return confirm('Delete category @item.Department_name')"
                           asp-controller="Category" asp-action="Delete"
                           asp-route-id="@item.Id" type="button" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
